@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    font-family: 'Poppins', sans-serif;
    --light-bg-color: #ffffff;
    --dark-bg-color: #000000;
    --light-text-color: #1D1D1D;
    --dark-text-color: #e6edf3;
    --primary-color: #75ed8b;

}

html {
    scroll-behavior: smooth;
}
body{
    background: var(--light-bg-color);

}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-track{
    background: #eaeaea;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

a, li{
    color: var(--light-text-color);
}
p {
    font-size: 1rem;
    color: var(--light-text-color);
}

i {
    font-size: 30px;
    color: var(--light-text-color)
}

/* ---navbar--- */
#menu {
    padding: 20px 0px;
    width: 100%;
    background: var(--light-bg-color);
    position:fixed;
    top: 0;
    z-index: 2;

}
.menu__container{
    display: flex;
    width: 1200px;
    padding-top: 10px;
    margin: 0 auto;
    justify-content: space-between;
}

.menu__ul{
    display: flex;
}

.nav__li{
    margin: 0 2em 0 0;
}

.menu__ul a {
    color: var(--light-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu__ul a:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.dark-mode-btn{
    padding-top: 7px;
}
.dark-mode-btn:hover{
    transform: translateY(-5px);
    cursor:pointer;
    color: var(--primary-color);
    transition: all .5s ease-out;
}
.active{
    color:var(--primary-color);
}

#toggle {
    display: none;
}

/*containers para controle de conteúdo */
.title__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin: 0 auto;

}
.content__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-align__container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
}
.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* --- Home --- */

#home-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/waves-bg.svg);
}
.aside {
    display: flex;
    flex-direction: column;
}

.aside .fa__icon {
    color: var(--primary-color);
    margin: 0 0 1em 0;
}

.left-homepage {
    width: 50%;
}

.subtitle-p {
    color: #888888;
    margin: 0.5em 0;
}

.home__paragraph {
    margin: 0.5em auto;
    line-height: 1.5em;
    font-weight: 100;
}

.default-btn {
    margin: 1em 0;
    background: var(--primary-color);
    border: none;
    border-radius: 0.5em;
    color: #000000;
    font-size: 1em;
    padding: 0 0.5em;
    height:3em;
    width: 9em;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s;

}
.default-btn:hover {
    background: #7bff93;
    cursor: pointer;
    
}
#btn-contact {
    margin: 2em 0 0 0;
}

#home__img{
    width: 400px;
    margin-bottom: 1em ;

}

/* ---About Me--- */

#about-me-section {
    padding-top:60px;
    margin-top: -1px;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #eaeaea, #eeeeee, #f2f2f2, #f6f6f6, #fafafa, #fcfcfc, #fdfdfd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
 }
 
#about-me-section h2 {
    color:#1D1D1D;
    font-weight: bold;

}

.about-me__subtitle {
    color: #888888;

}

.aboutme__img {
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(315deg, #7dfe95, #69d57d);
    box-shadow:  -29px -29px 65px #68d37c,
                  29px 29px 65px #82ff9a;
}

.right__about-me {
    width: 40%;
}

.right__about-me p {
    line-height: 1.5em;
    margin: 1.5em 0;
}

/* --Skills --*/

#skills-section {
    padding-top:100px ;
    height: 100vh;
}

.hard__skills{
    display: flex;
    flex-direction: column;
    min-height: 50vh ;
}

.hard__skills div::before {content: "•"; color: #75ed8b;
    display: inline-block; 
    width: 1em;
    font-size: 1.2em;
}

.hard__skills i, .soft__skills i {
    margin: 0 10px 0 0;
    
}

.hard__skills li, .soft__skills li {
    padding-top: 10px ;
    
}
.skills__h2 {
    color: var(--text-color);
    font-size: 3em ;
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

h3 {
    color: #75ed8b;
    font-size: 1.2em;
    font-weight: 800;
    margin: 1em 0 1em 0;
}

.soft__skills div::before {content: "•"; color: #75ed8b;
    display: inline-block; 
    width: 1em;
    font-size: 1.2em;
}

.skills__default div {
   display: flex;
   flex-direction: row;
   margin: 0 0 1em 0; 
}


#ts-img {

    width: 45px;
}


/* ---portfolio --- */

#portfolio-section{
    height: 100vh;
}

.portfolio__h2 {
    color: #1D1D1D;
    font-weight: bold;
    font-size: 3em;
    margin: 4em 0 0.25em 0;
}


/*--Contact -- */

#contact-section {
    height: 100vh;
    padding-bottom: 60px;
}
.contact__h2 {
    color: #1D1D1D;
    font-weight: bold;
    font-size: 3em;
    margin: 0 0 2em 0;
}

.right-contact {
    max-width: 70%;
    margin: 0 0 3em 0;
    background-color: #75ed8b;
    height: 700px;
    box-shadow: 1em 1em 0.15em #1D1D1D;
}


.fa__mail, .fa-whatsapp{
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}
.default-input {
    margin: 0 0 1em 0.2em;
    width: 80%;
    height: 2em;
    border: 1em none ;
    border-radius: 0.3em;
}
.input__label {
    margin: 0 0 0.75em 0;
}

.input-container {
    display: flex;
    flex-flow: column wrap;
    max-width: 90%;
    margin: 2em auto 1em auto;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin: 1em auto 0 auto;
    max-width: 90%;
}

.legend__textarea {
    margin: 0 auto 1em auto;
}

#input__textarea {
    max-width: 100%;
    margin: 0 auto;
    border: 1em none ;
    border-radius: 0.3em;
}
.submit-btn {
    align-self: flex-end;
    max-width: 90%;
    letter-spacing: 0.1em;
    width: 10em;
    height: 3em;
    font-size: 1em;
    border: none;
    border-radius: 0.3em;
    transition: 0.3s;
    margin: 1em 0 0 0;
}
.submit-btn:hover {
    cursor: pointer;
    background:#EAEAEA;

}

/*-- footer -- */
#footer-section {
    background: #75ed8b;
    width: 100%;
    height: 200px;
}
.footer__container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer__content{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.footer__h2 {
    font-size: 3em;
    font-weight: bold;
    color: #FFFFFF;

}
.fa__footer {
    width: 3em;
    color: var(--light-text-color);
}

.fa__footer:first-child:hover {
    transition: all .5s ease-out;
    transform: translateY(-5px);
    cursor: pointer;
    color: #eaeaea;
}
.fa__footer:nth-child(2):hover{
    transition: all .5s ease-out;
    transform: translateY(-5px);
    cursor: pointer;
    color: #0077B5;
}
.fa__footer:nth-child(3):hover{
    transition: all .5s ease-out;
    transform: translateY(-5px);
    cursor: pointer;
    color: #E4405F;
}


@media(max-width: 1315px){

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    
    a, li{
        font-size: 0.93rem;
    }

    p {
        font-size: 0.93rem;
      
    }
    
    i {
        font-size: 25px;
      
    }
    .menu__container{
        width: 100%;
        justify-content: space-around;
    }

    .container{
        width: 100%;
    }

    #home__img{
        width: 300px;
    }

    #contact-section {
        padding-bottom: 10rem;
    }

    .footer__content {
        width: 100%;
    }
       
}

@media(max-width: 768px){

    .menu__ul{
        display: block;
        position: absolute;
        top: 75px;
        background-color: var(--primary-color);
        right: 0;
        border-radius: 0.68em ;
    }
    .nav__li {
        padding:7px 75px;
        margin: 12px 0;
        color: var(--light-text-color);
    }

    .nav__li:hover {
        transition: all .5s ease-out;
        transform: translateY(-3px);
    }
    .menu__ul a:hover {
        color: var(--light-text-color) ;
    
    }
    

    #toggle{
        display: flex;

    }
    .content__container:first-of-type {
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .title__container{
        margin-bottom: 2em;
    }
    .left-homepage {
        width: 80%;
        margin: 0 auto;
    }

    .aside {
        display: none;
    }
    
    #about-me-section {
        padding-bottom: 200px;
    }
    .content__container:nth-of-type(2){
        flex-direction: column;

    }
    
    #about-me-section .title__container {
        margin-bottom: 4em;
    }

    .aboutme__img{
        width: 250px;
        margin-bottom: 3em;
    }

    .right__about-me {
        width: 80%;
    }
    
    .skills__container {
        flex-direction: column;
        margin: 0 auto;
    }

    .skills__container ul {
        margin-bottom: 2em;
    }

    #contact-section {
        padding-bottom: 20rem;
    }
    .contact__h2 {
        margin: 1em;
    }
    .top-align__container{
        flex-direction: column;
        align-items: center;
    }
    .left-contact {
        margin-bottom: 2em;
    }
}